.services {
  width: 100%;
  padding: 3% 5%;
  margin: 0 auto;
  @media screen and (min-width: 889px) {
    padding: 5% 8%;
  }
  .services__header {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 500;
    padding-bottom: 3%;
    margin: 0 auto;
    @media screen and (min-width: 621px) {
      font-size: 3rem;
      line-height: 4rem;
    }
    span {
      font-size: 3.5rem;
      font-weight: bolder;
      @media screen and (min-width: 621px) {
        font-size: 5rem;
      }
    }
    .services__bu {
      color: #5bdb5b;
    }
    .services__si {
      color: #49d695;
    }
    .services__ne {
      color: #3bbffb;
    }
    .services__s1 {
      color: #0179d4;
    }
  }
  .services__desp {
    font-size: 1.25rem;
    line-height: 1.5;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: 621px) {
      max-width: 600px;
    }
    @media screen and (min-width: 1025px) {
      max-width: 700px;
    }
  }
  .services__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 621px) {
      flex-direction: row;
    }
    input {
      padding: 15px 20px;
      width: 70%;
      font-size: 1.2rem;
      margin-bottom: 3%;
      border: none;
      border-radius: 7px;
      filter: drop-shadow(0px 3px 6px rgba(17, 75, 140, 0.6));
      @media screen and (max-width: 620px) {
        text-align: center;
      }
      @media screen and (min-width: 621px) {
        margin-bottom: 0;
        max-width: 350px;
      }
      @media screen and (min-width: 1025px) {
        margin-bottom: 0;
        max-width: 600px;
      }
    }
    .services__button {
      text-decoration: none;
      padding: 6px 12px;
      background: #114b8c;
      color: #ffffff;
      border: 1px solid transparent;
      border-radius: 7px;
      font-weight: bold;
      margin: 3%;
      font-size: 18px;
      line-height: 36px;
      letter-spacing: 1.5px;
      cursor: pointer;
      white-space: nowrap;
      transition: all 0.3s linear;
      border: 2px solid transparent;
      &:hover,
      &:focus {
        background: #ffffff;
        color: #114b8c;
        border: 2px solid #114b8c;
      }
    }
  }
  .services__bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    max-width: 750px;
    margin:0 auto;
    // white-space: nowrap;
    @media screen and (max-width: 620px) {
      flex-wrap: wrap;
    }
    .services__service {
      white-space:nowrap;
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      line-height: 1.5;
      padding-bottom: 20px;
      @media screen and (max-width: 888px) {
        font-size:1rem;
      }
    }
  }
  .services__service {
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap-reverse;
    &:last-child {
      flex-wrap: wrap;
      @media screen and (min-width: 889px) {
        flex-wrap: nowrap;
      }
    }
    @media screen and (min-width: 889px) {
      flex-wrap: nowrap;
    }
    .service__img1 {
      width: 80%;
      max-width: 350px;
      padding-left: 5%;
      margin: 0 auto;
      @media screen and (min-width: 889px) {
        max-width: 350px;
        width: 50%;
      }
      @media screen and (min-width: 1200px) {
        max-width: 500px;
        width: 50%;
      }
    }
    .service__img2 {
      width: 80%;
      max-width: 300px;
      padding-right: 5%;
      margin: 0 auto;
      @media screen and (min-width: 889px) {
        width: 50%;
        max-width: 600px;
      }
      @media screen and (min-width: 1200px) {
        width: 50%;
        max-width: 600px;
      }
    }
    .service__container {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      padding: 25px 0;
      .service__section {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        max-width: 220px;
        white-space: nowrap;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 7px;
        color: #ffffff;
        padding: 5px;
        background: linear-gradient(
          90deg,
          #114b8c 5%,
          #3bbffb 60%,
          #5bdb5b 98%
        );
        @media screen and (min-width: 889px) {
          margin: 0;
          margin-bottom: 20px;
        }
      }
      .service__header {
        text-align: center;
        font-size: 2.5rem;
        line-height: 3.5rem;
        font-weight: bold;
        padding-bottom: 3%;
        margin: 0 auto;
        @media screen and (min-width: 889px) {
          text-align: left;
          font-size: 2.7rem;
          line-height: 3.8rem;
        }
        @media screen and (min-width: 1200px) {
          text-align: left;
          font-size: 3.5rem;
          line-height: 4.5rem;
        }
      }
      .service__desp {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding-bottom: 20px;
        margin: 0 auto;
        text-align: center;
        @media screen and (min-width: 889px) {
          text-align: left;
          max-width: 600px;
        }
        @media screen and (min-width: 1025px) {
          max-width: 700px;
          text-align: left;
        }
      }
      .service__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media screen and (min-width: 621px) {
          flex-direction: row;
        }
        input {
          padding: 15px 20px;
          width: 70%;
          font-size: 1.2rem;
          margin-bottom: 3%;
          border: none;
          border-radius: 7px;
          filter: drop-shadow(0px 3px 6px rgba(17, 75, 140, 0.6));
          @media screen and (max-width: 620px) {
            text-align: center;
          }
          @media screen and (min-width: 621px) {
            margin-bottom: 0;
            max-width: 350px;
          }
          @media screen and (min-width: 1025px) {
            margin-bottom: 0;
            max-width: 600px;
          }
        }
        .service__button {
          text-decoration: none;
          padding: 6px 12px;
          background: #114b8c;
          color: #ffffff;
          border: 1px solid transparent;
          border-radius: 7px;
          font-weight: bold;
          margin: 3%;
          font-size: 18px;
          line-height: 36px;
          letter-spacing: 1.5px;
          cursor: pointer;
          white-space: nowrap;
          transition: all 0.3s linear;
          border: 2px solid transparent;
          &:hover,
          &:focus {
            background: #ffffff;
            color: #114b8c;
            border: 2px solid #114b8c;
          }
        }
      }
      .service__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        max-width: 700px;
        margin: 0 auto;
        margin-top: 20px;
        @media screen and (min-width: 1200px) {
          justify-content: space-between;
        }
        .service__service {
          display: flex;
          align-items: center;
          font-size: 1rem;
          line-height: 1.5;
          padding-bottom: 20px;
        }
      }
    }
  }
}
